.container {
  display: flex;
  flex-direction: column;
}

div {
  color: black;
  font-family: sans-serif;
  width: 75%;
  height: 80%;
  margin: 4px;
  border: 2px black solid;
  height:250px;
  background-color: var(--box-color);
}

p {
margin: 0;
}

.one {
  height:250px;
}

.two {
  height: 80%;
  --box-color: cornflowerblue;
}

.three {
  height: 40%;
  --box-color: aquamarine;
}

.four {
  height: 40%;
}
